h1, p, ul
{  
  font-family: Calibri, Candara, Arial, sans-serif;
  text-align: left;
}

h1{
  width: 800px;
}

.center-div{
  width: 800px;
  margin: 0 auto;
}

.side-by-side-image{
  width: 200px;
  height: 200px;
  float: left;
}

.image{
  height: 200px;
}

.header-image{
  height: 60px;
}

.website-name{
  float: left;
  line-height: 100px;
  font-family: Calibri, Candara, Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-left: 5px;
}

.side-by-side-text{
  width: 550px;
  height: 200px;
  margin-left: 250px;
  vertical-align: middle;
  
}

.side-by-side-text p{
  text-align: left;
}

ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#B4CDCD, white);
  width: 800px;
  margin: 0 auto;
  height: 100px;
  text-align: right;
  border-radius: 25px;
}

li{
  /*float: left;*/
  display: inline-block;
  float: none;
  vertical-align: middle;;
}

li a{
  display: block;
  padding: 14px 16px;
}

li a:hover{
  background-color: #F5F5F5;
  border-radius: 25px;
}

.active{
  background-color: #B4CDCD;
  border-radius: 25px;
}

.gallery{
  margin: 5px;
  float: left;
  width: 180px;
}

.gallery img{
  width: 100%;
  height: auto;
}

.img-desc{
  padding: 15px;
  text-align: center;
  font-family: Calibri, Candara, Arial, sans-serif;
}

.img-row{
  clear: both;
  width: 100%;
  height: auto;
  margin: auto;
}

.object-text{
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: small;
}

/*full page background image test*/
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}

body::after {
  background: url('images/petitPrinceBg.jpg');
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}