h1, p, ul
{  
  font-family: Calibri, Candara, Arial, sans-serif;
  text-align: left;
}

.center-div{
  width: 800px;
  margin: 0 auto;
}

.side-by-side-image{
  width: 200px;
  height: 200px;
  float: left;
}

.image{
  height: 200px;
}

.header-image{
  height: 75px;
}

.side-by-side-text{
  width: 550px;
  height: 200px;
  margin-left: 250px;
  vertical-align: middle;
  
}

.side-by-side-text p{
  text-align: left;
}

ul{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#B4CDCD, white);
  width: 800px;
  margin: 0 auto;
  height: 75px;
  text-align: center;
}

li{
  /*float: left;*/
  display: inline-block;
  float: none;
  vertical-align: middle;;
}

li a{
  display: block;
  padding: 14px 16px;
}

li a:hover{
  background-color: #D3D3D3;
}

.active{
  background-color: #B4CDCD;
}
